gruki.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GRUPPENZUORDNUNGEN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GRUPPENZUORDNUNG" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="GKNR"/>
              <xs:element type="xs:short" name="KINDNR"/>
              <xs:element type="xs:byte" name="GRUNR"/>
              <xs:element type="xs:string" name="GKVON" minOccurs="0"/>
              <xs:element type="xs:string" name="GKBIS" minOccurs="0"/>
              <xs:element type="xs:byte" name="TYP"/>
              <xs:element type="xs:string" name="BEMERK" minOccurs="0"/>
              <xs:element type="xs:string" name="ANLDAT"/>
              <xs:element type="xs:string" name="AENDAT"/>
              <xs:element type="xs:byte" name="ANLUSER" minOccurs="0"/>
              <xs:element type="xs:byte" name="AENUSER" minOccurs="0"/>
              <xs:element type="xs:byte" name="MNR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>